<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IntranetPortalEntities" connectionString="metadata=res://*/IntranetPortal.csdl|res://*/IntranetPortal.ssdl|res://*/IntranetPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RITHIVIJI\SQLEXPRESS;initial catalog=IntranetPortal;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SOMEntities" connectionString="metadata=res://*/SOMEntities.csdl|res://*/SOMEntities.ssdl|res://*/SOMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RITHIVIJI\SQLEXPRESS;initial catalog=SOM_New;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>